@import './common.scss';

body {
	font-size: 20px;
}

.hz-box {
	width: 1038px;
    min-height: 600px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 20px;
    float: left;
    color: #333;
}
.show {
	display: block !important;
}
.apply-account {
    .hz-title {
		padding-bottom: 5px;
	    font-size: 24px;
	    border-bottom: 2px solid #333;
	    font-weight: 400;
	    overflow: hidden;
	    .text {
	    	float: left;
	    }
	    .prompt {
	    	float: left;
	    	padding-left: 20px;
	    	font-size: 14px;
	    	line-height: 35px;
	    	color: #fa1515;
	    }
    }
    
}

.apply-form {
	padding-top: 37px;
	.input-warrper {
		min-width: 480px;
		margin-bottom: 25px;
		overflow: hidden;
		.label {
			float: left;
			width: 120px;
			height: 36px;
			padding-right: 10px;
			font-size: 14px;
			line-height: 36px;
			text-align: right;
			.sup {
				margin-right: 2px;
				vertical-align: middle;
				color: #ff4868;
			}
		}
		.input {
			float: left;
			width: 360px;
			height: 36px;
			padding: 0 10px;
			border: 1px solid #e1e1e1;
			font-size: 14px;
			&::placeholder {
				color: #999;
			}
		}
		.textarea {
			float: left;
			width: 360px;
			height: 110px;
			padding: 10px;
			border: 1px solid #e1e1e1;
			font-size: 14px;
			&::placeholder {
				color: #999;
			}
		}
		.textarea-prompt {
			display: inline-block;
			margin-top: 92px;
			margin-left: 8px;
			font-size: 12px;
			color: #666;
		}
	}
	.picker {
		.picker-file {
			position: relative;
			width: 110px;
			height: 110px;
			display: inline-block;
			background: url('../images/add.png') no-repeat scroll center/cover;
			vertical-align: bottom;
			.file-input {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				width: 100%;
				height: 100%;
				opacity: 0;
			}
		}
		.prompt {
			margin-left: 8px;
			font-size: 12px;
			color: #666;
		}
	}
	.baidu-edit {
		width: 600px;
		height: 250px;
		display: inline-block;
	}
	.bottom {
		padding-left: 120px;
		overflow: hidden;
		.submit-btn, .btn {
			float: left;
			margin-right: 20px;
			min-width: 120px;
			padding: 0 20px;
			height: 36px;
			background: #cd1e1f;
			color: #fff;
			font-size: 14px;
			border: 0;
			cursor: pointer;
		}
		.btn {
			background: #fff;
			color: #666;
			border: 1px solid #e1e1e1;
		}
	}
}

.account-control {
	color: #333;
	.article-info {
		height: 120px;
		.data {
			display: inline-block;
			width: 750px;
			height: 100%;
			overflow: hidden;
			box-shadow: 2px 2px 8px  #f5f5f5, -2px -2px 8px #f5f5f5;
			.data-item {
				float: left;
				width: 220px;
				padding: 42px 0 0 37px;
				&.item2 {
					width: 250px;
					padding-left: 61px;
				}
				&.item3 {
					width: 280px;
					padding-left: 55px;
				}
				.icon {
					width: 34px;
					height: 34px;
					margin-right: 20px;
					vertical-align: top;
				}
				.data-content {
					max-width: 120px;
					display: inline-block;
				}
				.num {
					font-size: 19px;
					line-height: 19px;
					font-weight: bold;
				}
				.text {
					padding-top: 10px;
					font-size: 12px;
					line-height: 12px;
					color: #afafaf;
				}
			}
		}
		.apply {
			width: 214px;
			height: 100%;
			float: right;
			background: #418cfd;
			border-radius: 6px;
			text-align: center;
			.btn {
				width: 150px;
				height: 36px;
				margin: 24px 0 19px;
				border-radius: 36px;
				background: #fff;
				color: #418cfd;
				font-size: 14px;
				border: 0;
				cursor: pointer;
			}
			.bottom-text {
				font-size: 14px;
				line-height: 14px;
			}
			.text {
				
				color: #fff;
				&:first-child {
					margin-right: 28px;
				}
			}
		}
	}

	.table-form {
		margin-top: 30px;
		padding: 13px 20px 0;
		background: #f1f1f3;
		.table-form-warrper {
			display: inline-block;
			width: 785px;
			.form-input {
				display: inline-block;
				margin-bottom: 13px;
				margin-right: 37px;
				overflow: hidden;
				.label {
					float: left;
					margin-right: 8px;
					font-size: 14px;
					line-height: 30px;
					color: #666;
				}
				.input {
					width: 202px;
					height: 30px;
					border: 1px solid #dcdcdc;
					float: left;
				}
				.select {
					width: 67px;
					height: 26px;
					border: 1px solid #dcdcdc;
					border-radius: 3px;
				}
				.time {
					width: 88px;
					padding: 0 6px;
				}
				.line {
					width: 14px;
					height: 1px;
					float: left;
					margin: 15px 4px 0;
					background: #dcdcdc;
				}
			}
		}
		.submit-btn {
			width: 80px;
			height: 30px;
			background: #418cfd;
			color: #fff;
			font-size: 14px;
			border: 0;
			cursor: pointer;
			vertical-align: top;
		}
	}

	.hs-table {
		width: 100%;
		margin-top: 30px;
		border-collapse:collapse;
		border: 1px solid #eee;
		thead {
			height: 35px;
			font-size: 14px;
			line-height: 35px;

			tr {
				background: #f1f1f3;
			}
			th {
				border-right: 1px solid #eee;
				text-align: center;
				font-weight: 400;
			}
		}
		tbody {
			td {
				padding: 24px 0 19px;
				border-right: 1px solid #eee;
				border-bottom: 1px solid #eee;
				text-align: center;
				font-size: 12px;
			}
		}
		.btn {
			margin-right: 17px;
			margin-bottom: 17px;
			color: #333;
		}
	}
}

.account-edit {
	width: 540px;
	height: 690px;
	background: #fff;
	border-radius: 4px;
	.bottom  .blue-btn {
		background: #4f97e3;
		border: 0;
		color: #fff;
	}
}

.link {
	color: #5498fe;
}

.red {
	color: #fb3b3b !important;
}

.dialog {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: rgba(0,0,0,.5);
	color: #333;
	display: none;
	.dialog-content {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1001;
		transform: translate(-50%, -50%);
		display: inline-block;
	}
}

.tooltip {
	width: 450px;
	min-height: 200px;
	padding: 0 40px 0;
	background: #fff;
	border-radius: 3px;
	text-align: center;
	.prompt {
		padding-top: 58px;
		font-size: 16px;
		line-height: 20px;
	}
	.comfirm {
		width: 130px;
		height: 40px;
		margin-top: 42px;
		background: #4f97e3;
		border: 0;
		border-radius: 3px;
		color: #fff;
		font-size: 14px;
		cursor: pointer;
	}
}

.pagination-box {
	padding-top: 40px;
	text-align: right;
	.pagination {
		font-size: 12px;
		color: #666;
		cursor: pointer;
		.btn {
			width: 68px;
			height: 30px;
			display: inline-block;
			border: 1px solid #e2e0dd;
			color: #d1d1d1;
			text-align: center;
			line-height: 30px;
		}
		.page {
			display: inline-block;
			padding-left: 5px;
			overflow: hidden;
		    vertical-align: top;
			li {
				float: left;
				width: 30px;
				height: 30px;
				margin-right: 5px;
				border: 1px solid #e2e0dd;
				background: #f9f8f7;
				color: #666;
				text-align: center;
				line-height: 30px;
				&.active {
					background: #418cfd;
					border: 0;
					color: #fff;
				}
			}
		}
		.more {
			display: inline-block;
			width: 32px;
			margin-right: 5px;
			line-height: 30px;
			text-align: center;
			font-size: 16px;
		}
		.total {
			margin: 0 5px 0 32px;
		}
		.pagination-input {
			width: 30px;
			height: 30px;
			border: 1px solid #cdcdcd;
			background: #fff;
			color: #666;
			text-align: center;
			line-height: 30px;
		}
		.submit-btn {
			width: 54px;
			height: 30px;
			margin-left: 12px;
			border-radius: 2px;
			background: #418cfd;
			color: #fff;
			border: 0;
			cursor: pointer;
		}
	}
}